<ul id="product-list">
    <li ng-repeat="i in myCart track by $index">
        <div class="container">
            <div class="col-mid-8">
                <img ng-src="{{ i.imageurl }}" class="img-responsive img-rounded cart-image" alt="Responsive image">
                <h3 class="cov-font">{{ i.title }}</h3>
                <h3>{{ i.price | currency }}</h3>
                <button ng-click="removeItem()">Remove Item</button>
                </div>
                </a>
        </div>
    </li>
</ul>
