<div class="container" data-ng-controller="CategoryController" data-ng-init="himage()">
    <img class="jumbotron">
</div>
<ul id="product-list">
    <li ng-repeat="product in category">
        <div class="container">
            <div class="col-md-12">
                <div ng-model="categoryid" value="{{ product.categoryid }}"></div>
                <h3 class="cov-font">{{ product.title }}</h3>
                <p class="cov-font">{{ product.description }}</p>
                <h4 class="cov-font">{{ product.price | currency }}</h6>
                <a ng-href="product/{{ product.id }}">
                <div class="col-md-3">
                <img ng-src="{{ product.imageurl }}" class="img-responsive img-rounded" alt="Responsive image">
                </div>
                </a>
        </div>
    </li>
</ul>

<nav class="flex navbar navbar-default navbar-fixed-bottom">
    <div id="nav-header-box" >
        <a class="navbar-logo" href="/">
            <img id="header-logo" src="/images/logo-footer.svg"/>
        </a>     
    </div>
     <p id="copyright">Copyright Covalence LLC</p>
</nav>
