<div class="container">
<div class="page-header">
        <h1>Contact Us</h1>
</div>
<form id="contactus" class="my-form" ng-submit="send()">
        <div class="form-group">
                <input type="text" ng-model="name" class="form-control" placeholder="Name">
                <input type="text" ng-model="email" class="form-control" placeholder="Email">
                <input type="text" ng-model="message" class="form-control" placeholder="Message">
                <input type="submit" class="btn btn-info pull-right" value="Save">      
        </div>       
</form>
</div>