<div class ="container">
    <ul id="product-list">

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-lg-6">
                        <img src="{{ product.imageurl }}" class="img-responsive  img-rounded" alt="Responsive image">
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-6">
                    <h4 class="cov-font">{{ product.price | currency }}</h6>
                    <h3 class="cov-font">{{ product.title }}</h3>
                    <p class="cov-font">{{ product.description }}</p>
                    <input type="submit" class="btn btn-info cov-font" value="ADD TO CART">
                </div>
            </div>
        </div>
    </ul>
</div>

<nav class="flex navbar navbar-default navbar-fixed-bottom">
  <div class="content-right container">
     <h3></h3>
     <div class="flex content-right">
        <i style="font-size:24px" class="fa">&#xf230;</i>
        <i style="font-size:24px" class="fa">&#xf003;</i>
        <i style="font-size:24px" class="fa">&#xf1f5;</i>
        <i style="font-size:24px" class="fa">&#xf099;</i>
        <i style="font-size:24px" class="fa">&#xf08c;</i>
    </div>
  </div>
</nav>


