<div class ="view container">
    <ul id="product-list">

        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-lg-6">
                        <img src="{{ product.imageurl }}" class="img-responsive  img-rounded" alt="Responsive image">
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-6">
                    <h4>{{ product.price | currency }}</h6>
                    <h3>{{ product.title }}</h3>
                    <p>{{ product.description }}</p>
                    <input type="submit" class="btn btn-info" value="ADD TO CART" ng-click="basket.addItem(product)">
                </div>
            </div>
        </div>
    </ul>
</div>

<nav class="flex navbar navbar-default footer">
    <div id="nav-header-box" >
        <a class="navbar-logo" href="/">
            <img id="header-logo" src="/images/logo-footer.svg"/>
        </a>     
    </div>
     <p class="cov-font" id="copyright">Copyright Covalence LLC</p>
</nav>



