
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-lg-6">
                        <img src="{{ product.imageurl }}" class="img-responsive  img-rounded" alt="Responsive image">
                </div>
                <div class="col-xs-12 col-sm-4 col-lg-6">
                    <h4>{{ product.price | currency }}</h6>
                    <h3>{{ product.title }}</h3>
                    <p>{{ product.description }}</p>
                    <input type="submit" class="btn btn-info" value="ADD TO CART">
                </div>
            </div>
        </div>

<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
      <h1> </h1>
  </div>
</nav>


